

body {
    margin: 0 auto;
    padding-left:100px;

}
.horizontal {
    background-color:green;
    width:100%;
    height:10px;
}

.header {
    float:left;
    margin-right: 20px;
}

.text {
    float:right;
    margin-left: 10px;
}

.img {
   float:left;
    margin-top: 10px;
}

.contact {
    float:right;
}

.nav {
    display:inline-block;
    margin-top: 20px;
}
.mobile{
    flaot:left;
}
.mobile text{
    float:left;
}

