

body {
    margin: 0 auto;

}
.horizontal {
    background-color:green;
    width:100%;
    height:5px;

}
.header {
    display:inline-block;

}

.img {
    display:inline-block;
}
.mobile{
    flaot:left;
}
.mobile text{
    float:left;
}

